*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.app {
  display: grid;
  grid-template-columns: repeat(4, 25vw);
  grid-template-rows: 10vh 87vh 3vh;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;

  footer {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    justify-self: center;
  }

  .cards {
    grid-column: 1 / 5;
    align-self: center;
    justify-self: center;
    scale: 80%;
  }

  header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    justify-self: center;
  }

  footer,
  header {
    align-self: start;
  }

}

header,
footer {
  position: relative;
  color: white;
  align-self: first baseline;
  padding: 1rem;
  text-shadow: 3px 3px 4px black;
  white-space: nowrap;
  max-width: min-content;
}

footer {
  align-self: start;
  width: min-content;

  h1 {
    font-size: 2rem;

    span {
      font-size: 3rem;
    }
  }

  h2 {
    font-size: 2rem;
  }
}

header {

  h1 {
    font-size: 3rem;
  }
}

footer h1.shake {
  animation: shake linear 0.2s 1;
}

footer h1.score::after {
  position: absolute;
  content: "+1";
  right: 1.8ch;
  top: 1ch;
  color: greenyellow;
  text-shadow: 3px 3px 3px black;
  animation: score ease-in-out .4s 1;
  animation-fill-mode: forwards;
}

@keyframes score {
  0% {
    opacity: 0%;
    transform: translateY(0%);
  }

  50% {

    opacity: 100%;
  }

  100% {
    opacity: 0%;
    transform: translateY(-100%);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(5px);
  }

  50% {
    transform: translateX(-5px);
  }

  75% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0);
  }
}