*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.app {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: calc(100vw - 1rem);
  height: calc(100vh - 1rem);

  header,
  footer,
  .cards {
    flex: 1;
  }
}

header,
footer {
  position: relative;
  translate: 0 100%;
  color: white;
  align-self: first baseline;
  text-shadow: 3px 3px 4px black;
  white-space: nowrap;

  h1,
  h2,
  p {
    width: min-content;
    margin: 0 auto;
  }
}

footer {
  align-self: start;

  h1 {
    font-size: 2rem;

    span {
      font-size: 3rem;
    }
  }

  h2 {
    font-size: 2rem;
  }
}

header {
  h1 {
    font-size: 3rem;
  }
}

footer h1.shake {
  animation: shake linear 0.2s 1;
}

.message {
  pointer-events: none;
  width: calc(100vw - 1rem);
  height: calc(100vh - 1rem);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.message.perfect::after {
  color: rgb(255, 255, 255);
  z-index: 99;
  font-size: 10em;
  position: absolute;
  content: "Perfect!";
  text-shadow: 3px 3px 3px black, -3px 3px 3px black, -3px 3px 3px black, 3px -3px 3px black;
  animation: spin ease-in-out .9s 1;
  animation-fill-mode: forwards;
}

footer h1.score {
  position: relative;
}

footer h1.score::after {
  position: absolute;
  content: "+1";
  right: 0;
  top: 0;
  color: greenyellow;
  text-shadow: 3px 3px 3px black;
  animation: score ease-in-out .4s 1;
  animation-fill-mode: forwards;
}

@keyframes score {
  0% {
    opacity: 0%;
    transform: translateY(0%);
  }

  50% {

    opacity: 100%;
  }

  100% {
    opacity: 0%;
    transform: translateY(-100%);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(5px);
  }

  50% {
    transform: translateX(-5px);
  }

  75% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes spin {
  0% {
    scale: 0;
    transform: rotate(0deg);
  }

  50% {
    scale: 1;
    transform: rotate(360deg);
  }

  70% {
    opacity: 1;
    transform: rotate(360deg);
  }

  100% {
    opacity: 0;
    transform: rotate(360deg);
  }
}