.card {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border: 0.5em solid black;
  padding: 0.5em;
  border-radius: 2em;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}