.card {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border: 0.3em solid black;
  padding: 0.3em;
  border-radius: 2em;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.card:hover {
  animation: wiggle 0.5s infinite;
  animation-timing-function: linear;
}

@keyframes shrink {
  0% {
    transform: scale(100%);
  }

  100% {
    transform: scale(0%);
  }
}

@keyframes grow {
  0% {
    transform: scale(0%);
  }

  100% {
    transform: scale(100%);
  }
}


@keyframes wiggle {
  0% {
    transform: rotate(-1deg);
  }

  50% {
    transform: rotate(1deg);
  }

  100% {
    transform: rotate(-1deg);
  }
}

.cards {
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  height: 100%;
}