.card {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border: 0.5em solid black;
  padding: 0.5em;
  border-radius: 2em;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: scale 0.3s ease;
  transition: opacity 0.1s ease;
  cursor: pointer;
}

.card:hover {
  z-index: 10;
  transition: scale 0.1s ease;
  scale: 120%;
  animation: wiggle 0.5s infinite;
  animation-timing-function: linear;
}

.cards:has(:hover) {
  .card:not(:hover) {
    transition: opacity 0.3s ease;
    opacity: 60%;
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(-1deg);
  }

  50% {
    transform: rotate(1deg);
  }

  100% {
    transform: rotate(-1deg);
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}