@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

:root {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  font-family: pangolin;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #004f0f;
}