@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

:root {
  font-family: pangolin;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #015a12;
  background-image: linear-gradient(#015a12 40%, #012c0aa6);
}